@import url('https://fonts.google.com/specimen/DM+Sans');

.body {
    font-family: 'DM Sans';
  }

.Header{
    font-size: 55px;
    font-style: italic;
    text-align: center;
}
.logintxt{
    margin-top:4%;
    margin-left:34%;
    font-size: 45px;
    font-weight: bold;
    text-align: center;
}

.btn{
    margin-top:4%;
    margin-right:48%;
    background-color: #ABE8F6;
    border: 3px, solid;
    font-weight: bold; 
    font-size: 18;
    width:160px;
    height: 45px;
    color:black;
}

.inpt{
    width:240px;
     height: 30px;
     font-size: 14;
     margin-top: 30px;
    font-style: italic;
}

.img{
    margin-right: 14%;
    float:right;
    position:relative;
    width: 240px;
    height: 220px;
}

.container{
    margin-left:34%;
    text-align: center;
    align-items: center;
}
.ItemContainer{
    margin-top: 5%;
    margin-left:19%;
    margin-right:8%;
}
.link{
    text-align: center;
    display: inline;
    font-size: 32px;
    margin-left: 18%;
}
.link2{
    text-align: center;
    display: inline;
    font-size: 32px;
    margin-left: 10%;
}
.bigImg{
    width: 340px;
    height: 320px;
    margin-right:16%;
}
.ImageContainer{
    margin-top: 2%;
    margin-bottom: 2%;
    margin-left: 16%;
}
.formContainer{
    margin-left:25%;
}
.Header2{
    font-size: 52px;
    margin-top: 4%;
}
.date{
    margin-top: 2%;
    font-size:25px;
}
.title{
    margin-top: 2%;
    font-size:25px;
}
.dateNtime{
    height:28px;
    width:320px;
}
.inputText{
    height:28px;
    width:320px;
}
.textArea{
    width:320px;
}

.textBox{
    margin-top: 2%;
}
.byeuton1{
    margin-top: 4%;
    height:56px;
    width:76px;
    background-color: aquamarine;
}
.byeuton2{
    margin-top: 4%;
    height:56px;
    width:76px;
    background-color: aquamarine;
}
.innerhtml{
    text-align: center;
    
}
.inHtml{
    margin-right:48%;
}