@import url('https://fonts.google.com/specimen/DM+Sans');

.body {
    font-family: 'DM Sans';
  }

.Header{
    font-size: 55px;
    font-style: italic;
    text-align: center;
}
.logintxt{
    margin-top: 55px;
    font-size: 45px;
    font-weight: bold;
    text-align: center;
}

.btn{
    margin-top: 50px;
    background-color: #ABE8F6;
    border: 3px, solid;
    font-weight: bold; 
    font-size: 18;
    width:160px;
    height: 45px;
    color:black;
}

.inpt{
    width:240px;
     height: 30px;
     font-size: 14;
     margin-top: 30px;
    font-style: italic;
}

.container{
    text-align: center;
    align-items: center;
}

.img{

    position: absolute;
    top: 55px;
    right: 300px;
    width: 240px;
    height: 220px;
}

.boody {
    font-family: 'DM Sans';
  }
.Heaader{
    font-size: 5445px;
    font-style: italic;
    text-align: center;
}
.logintxt{
    margin-top: 55px;
    font-size: 45px;
    font-weight: bold;
    text-align: center;
}
.buttn{
    margin-top: 50px;
    background-color: #ABE8F6;
    border: 3px, solid;
    font-weight: bold;
    font-size: 18;
    width:160px;
    height: 45px;
    color:black;
}
.input{
    width:240px;
     height: 30px;
     font-size: 14;
     margin-top: 30px;
    font-style: italic;
}
.container{
    text-align: center;
    align-items: center;
}
.ItemContainer{
    margin-top: 5%;
    margin-left:19%;
    margin-right:8%;
}
.link{
    text-align: center;
    display: inline;
    font-size: 32px;
    margin-left: 20%;
}
.bigImg{
    width: 340px;
    height: 320px;
    margin-right:16%;
}
.ImageContainer{
    margin-top: 2%;
    margin-bottom: 2%;
    margin-left: 16%;
}